@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
.home{
   height: 100vh;
   display: flex;
}

.portfolioImg img{
   height: 70vh;
   margin-left: 200px;
   margin-top: 153px;
}

.portfolioDesc{
   position: relative;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-left: 200px;
   gap: 20px;
}

.portfolioDescTitle{
   color: rgb(223, 149, 13);
   font-size: 50px;
   font-family: 'Amatic SC', cursive;
}

.portfolioDescSubtitle{
   font-family: 'Bruno Ace SC', cursive;
   font-size: 30px;
   color: white;
   background-color: red;
   display: flex;
   justify-content: center;
}

.portfolioBtn{
   background-color: red;
   bottom: 260px;
   background: none;
   color: black;
   border:2px solid #2c3e50;
   padding: 10px 23px;
   display: flex;
   align-items: center;
   position: relative;
   transition: color .4s linear;
   cursor: pointer;
   position: absolute;
}

.portfolioBtn::before{
   content: "";
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background: #2c3e50;
   transition: transform .5s;
   transform-origin: 0 0;
   transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}

.portfolioBtn::before {
   transform: scaleY(0);
}

.portfolioBtn:hover::before {
   transform: scaleY(1);
}

@media screen and (max-width:1600px){
   .portfolioBtn{
      bottom: 90px;
   }
}


@media screen and (max-width:1400px){
   .portfolioImg img{
      height: 50vh;
      margin-left: 200px;
      margin-top: 153px;
   }
   .portfolioDesc{
      margin-left: 50px;
   }
   .portfolioDescSubtitle{
      max-width: 350px;
   }
   .portfolioBtn{
      bottom: 70px;
   }
}

@media screen and (max-width:900px){
   .portfolioImg img{
      height: 50vh;
      margin-left: 20px;
   }
}